Package: com.understruction.forwardslashme
Name: ForwardSlashME
Depends: mobilesubstrate
Version: 0.7.2
Architecture: iphoneos-arm
Description: '/me' replacement
Maintainer: EvilPenguin|
Author: EvilPenguin|
Section: Tweaks
